swagger: '2.0'
info:
  title: t23peerprep
  description: Our API on Cloud Endpoints with a Cloud Run backend
  version: 1.0.0
host: t23peerprep.apigateway.cs3219-team23-328712.cloud.goog
schemes:
  - https
produces:
  - application/json
# security:
#   - api_key: []
paths:
  # EDITOR MS0
  /editor:
    get:
      summary: Editor
      operationId: checkEditor
      x-google-backend: 
        address: https://editor-6i7ougacoq-de.a.run.app
      responses:
        '200':
          description: Editor MS running
          schema:
            type: object
            properties: 
              status:
                type: string
              data:
                type: string

  # MESSAGE MS
  /message:
    get:
      summary: Message
      operationId: checkMessage
      x-google-backend: 
        address: https://message-6i7ougacoq-de.a.run.app
      responses:
        '200':
          description: Message MS running
          schema:
            type: object
            properties: 
              status:
                type: string
              data:
                type: string

  # MATCH MS
  /match:
    get:
      summary: Match
      operationId: checkMatch
      x-google-backend:
        address: https://match-6i7ougacoq-de.a.run.app
      responses:
        '200':
          description: Match MS running
          schema:
            type: string

  /matches:
    get:
      summary: Get All Matches
      operationId: getAllMatches
      x-google-backend:
        address: https://match-6i7ougacoq-de.a.run.app/api/matches
      responses:
        '200':
          description: All Matches in database
          schema:
            type: object
            properties:
              status:
                type: string
              message:
                type: string
  /addMatch:
    post:
      summary: Add match
      operationId: addMatch
      x-google-backend:
        address: https://match-6i7ougacoq-de.a.run.app/api/matches
      responses:
        '200':
          description: Successful match add
          schema:
            type: object
            properties:
              status:
                type: string
              message:
                type: string

  /deleteMatch:
    delete:
      summary: Delete Match
      operationId: deleteMatch
      x-google-backend:
        address: https://match-6i7ougacoq-de.a.run.app/api/matches
      responses:
        '200':
          description: Successful reset of match
          schema:
            type: object
            properties:
              status:
                type: string
              message:
                type: string
    
  /matches/match:
    put:
      summary: Update Match
      operationId: updateMatch
      x-google-backend:
        address: https://match-6i7ougacoq-de.a.run.app/api/matches/match
      responses:
        '200':
          description: Successful update of match
          schema:
            type: object
            properties:
              status:
                type: string
              message:
                type: string
          
  /matches/match/{username}: #TODO:
    get:
      summary: Get specific user's match
      parameters:
        - name: username
          in: path
          required: true
          description: username of the match query
          type: string
      operationId: getSpecificMatch
      x-google-backend:
        address: https://match-6i7ougacoq-de.a.run.app/api
        path_translation: APPEND_PATH_TO_ADDRESS
      responses:
        '200':
          description: Successful update of specific match
          schema:
            type: object
            properties:
              status:
                type: string
              message:
                type: string

  /putMatches:
    put:
      summary: Update matches
      operationId: updateMatches
      x-google-backend:
        address: https://match-6i7ougacoq-de.a.run.app/api/matches
      responses:
        '200':
          description: Successful update of two matches
          schema:
            type: object
            properties:
              status:
                type: string
              message:
                type: string
  
  # QUESTIONS MS
  /questions:
    get:
      summary: Check Qns MS
      operationId: checkQuestions
      x-google-backend:
        address: https://question-6i7ougacoq-de.a.run.app/api
      responses:
        '200':
          description: Questions MS running
          schema:
            type: string
  
  /getAllQuestions:
    get:
      summary: Get all questions
      operationId: getAllQuestions 
      x-google-backend:
        address: https://question-6i7ougacoq-de.a.run.app/api/questions
      responses:
        '200':
          description: Retrieved all Questions
          schema:
            type: object
            properties:
              message:
                type: string

  /addQuestion:
    post:
      summary: Post a question
      operationId: addAQuestion
      x-google-backend:
        address: https://question-6i7ougacoq-de.a.run.app/api/questions
      responses:
        '200':
          description: Added a Question
          schema:
            type: object
            properties:
              message:
                type: string

  /questions/{title}: #TODO:
    get:
      summary: Get specific question
      operationId: getQuestionBasedOnTitle
      parameters:
        - name: title
          in: path
          required: true
          description: title of question
          type: string
      x-google-backend:
        address: https://question-6i7ougacoq-de.a.run.app/api
        path_translation: APPEND_PATH_TO_ADDRESS
      responses:
        '200':
          description: Retrieved specific Question
          schema:
            type: object
            properties:
              message:
                type: string

  /questions/difficulty/{level}: #TODO:
    get:
      summary: Get random question based on difficulty
      operationId: getQuestionBasedOnDifficulty
      parameters:
        - name: level
          in: path
          required: true
          description: difficulty of question
          type: string
      x-google-backend:
        address: https://question-6i7ougacoq-de.a.run.app/api
        path_translation: APPEND_PATH_TO_ADDRESS
      responses:
        '200':
          description: Retrieve random question based on difficulty
          schema:
            type: object
            properties:
              message:
                type: string
  
  # USERS MS
  /users:
    get:
      summary: User
      operationId: checkUsers
      x-google-backend: 
        address: https://users-6i7ougacoq-de.a.run.app/
      responses:
        '200':
          description: Users MS running
          schema:
            type: object
            properties: 
              status:
                type: string
              data:
                type: string
  # USERS/AUTH
  /register:
    post:
      summary: Register
      operationId: register
      x-google-backend: 
          address: https://users-6i7ougacoq-de.a.run.app/auth/register
      responses:
        '200':
          description: register successful
          schema:
            type: object
            properties: 
              message:
                type: string

  /login:
    post:
      summary: Login
      operationId: login
      x-google-backend: 
          address: https://users-6i7ougacoq-de.a.run.app/auth/login
      responses:
        '200':
          description: login successful
          schema:
            type: object
            properties: 
              message:
                type: string

  # /friends:


        
  

      


                

  
      


