.home-img-style {
  height: 400px;
  width: 500px;
}

.home {
  padding-inline: 150px;
  padding-block: 50px;
}

.home-img-style:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}
