.preloader {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    min-height: 100vh;
}

.rotate {
  animation: rotation 1.5s infinite linear;
}

.loader-hide {
  display: none;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(359deg);
  }
}