.match {
  overflow-y: scroll;
  height: 400px;
  /* overflow-y: scroll;
    -webkit-overflow-scrolling: touch; */
}

.list-styles {
  max-height: 350px;
  margin-bottom: 10px;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
}
